*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero_section{
    background: url(../imageday5/day5.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 180px 0;
    height: 400px;
}

.heading{
    text-align: center;
    color: black;
}

.text_phara{
    text-align: center;
    width: 80%;
    margin: auto;
    color: black;
    padding-top: 10px;
}

.button_box{
    text-align: center;
    padding-top: 20px;
}

.btn{
    background-color: white;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    border-radius: 3px;
}