*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

.hero_section{
    /* background: url(../assets/background.jpg); */
    background: linear-gradient(rgba(49, 52, 243, 0.726), rgba(232, 71, 238, 0.733)),url(../assets/background.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
}
.container{
    width: 93%;
    margin: auto;
}

.row{
    text-align: center;
    color: white;
}

.heading{
    font-size: 44px;
}

.sub_heading{
    letter-spacing: 10px;
    margin-bottom: 7px;
}

.lead{
    font-size:17px;
    letter-spacing: 1.1px;
    line-height: 20px;
}

.hero_lead{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 0;
}


.button_group{
    padding: 10px 0;
}

.btn {
    padding: 10px 19px;
    font-size: 15px; 
    text-decoration: none;
    border-radius: 30px;
    transition: 0.9s ease-in-out;
}

.btn:hover{
    border-radius: 5px;
}

.btn_primary{
    background-color: white;
    color: black;
}

.btn_secondary{
    background-color: lightblue;
    color: black;
}


/* our service css */
.our_service{
    padding: 80px 0;
}

.service_title{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}


.service_option_box{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.option_one{
    background: rgb(241, 241, 241);
    padding: 40px 85px;
    border-radius: 4px;
}

.option_two{
    background: rgb(241, 241, 241);
    padding: 40px 85px;
    margin: 0 10px;
    border-radius: 4px;
}

.option_three{
    background: rgb(241, 241, 241);
    padding: 40px 85px;
    border-radius: 4px;
}


.hover_shadow:hover{
    background: white;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}