*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.hero_section{
    /* background: url(../assets/background.jpg); */
    background: linear-gradient(rgba(49, 52, 243, 0.726), rgba(232, 71, 238, 0.733)),url(../assets/background.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display: flex;
    align-items: center;
}
.container{
    text-align: center;
    color: white;
}

.heading{
    font-size: 44px;
}

.sub_heading{
    letter-spacing: 10px;
    margin-bottom: 7px;
}

.lead{
    font-size:17px;
    letter-spacing: 1.1px;
    line-height: 20px;
}

.hero_lead{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 0;
}


.button_group{
    padding: 10px 0;
}

.btn {
    padding: 10px 19px;
    font-size: 15px; 
    text-decoration: none;
    border-radius: 30px;
    transition: 0.9s ease-in-out;
}

.btn:hover{
    border-radius: 5px;
}

.btn_primary{
    background-color: white;
    color: black;
}

.btn_secondary{
    background-color: lightblue;
    color: black;
}